<p><font size="5"><b>PROJET 2 - SIMPLON DEV. DATA : PYTHON - SQL </b></font></p>


<p><font size="4"><b> *0-2. Scrapping d’un site internet à l’aide de beautiful soup - data pre-processing*  
 - 02/01/2010* </b></font></p>

<p><font size="3"> *Scraping du site internet www.paruvendu.fr - liste de toutes les annonces de ventes de biens
    immobiliers ancien PRO scrappées le 29/01/2020* </font></p>

*© 2020, Gérald Bouget  (<mailto:geraldbouget@gmail.com>)

___

In [1]:
import pandas as pd
import numpy as np
import re
import concurrent.futures

In [2]:
df = pd.read_csv('paruvendu_ancien_pro.csv')

In [418]:
df.head()

,Unnamed: 0,titre_annonce,ville_cp,prix,texte_annonce,nom_agence
0,0,"Appartement 2 pièces, 33 m² Paris 18",Paris 18,420 000 €,Place Saint Pierre / Butte Montmartrre. 2 piè...,DISTRICT GEORGE V
1,1,"Appartement 5 pièces, 146 m² Paris 8",Paris 8,2 660 000 €,TRIANGLE d'OR proche de l'avenue Montaigne - ...,DISTRICT GEORGE V
2,2,"Maison 5 pièces, 65 m² Athis-Mons (91200)",Athis-Mons (91200),334 000 €,PLATEAU JOLIE MEULIERE 120 M² CALME NON MITOY...,Réseau Swixim
3,3,"Appartement 3 pièces, 70 m² carrez Bondoufle ...",Bondoufle (91070),202 800 €,VIEUX CENTRE - Appartement 3 pièces - 70m² Si...,
4,4,"Maison 3 pièces, 66 m² La Ferté-sous-Jouarre ...",La Ferté-sous-Jouarre (77260),95 500 €,"Maison de hameau avec courette, vue dégagée A...",AGENCE DE LA VALLEE

In [419]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17600 entries, 0 to 17599
Data columns (total 6 columns):
Unnamed: 0       17600 non-null int64
titre_annonce    17600 non-null object
ville_cp         17600 non-null object
prix             17600 non-null object
texte_annonce    17600 non-null object
nom_agence       17600 non-null object
dtypes: int64(1), object(5)
memory usage: 825.1+ KB

# Vérification duplicated rows

In [420]:

df[df.duplicated()]

Empty DataFrame
Columns: [Unnamed: 0, titre_annonce, ville_cp, prix, texte_annonce, nom_agence]
Index: []

# Suppression des lignes où il y a absence de prix

In [421]:

df = df[df['prix']!=' ']

In [422]:
df[df['prix']==' ']

Empty DataFrame
Columns: [Unnamed: 0, titre_annonce, ville_cp, prix, texte_annonce, nom_agence]
Index: []

# Création variable 'type de bien'

In [423]:

df['type_bien']= ''

In [424]:
df.titre_annonce = df.titre_annonce.astype(str)

### Extraction du type d'appartement dans colonne titre_annonce et insertion du type de bien dans colonne type de bien

In [425]:

liste_type_bien=['Appartement', 'Maison', 'Chalet', 'Loft', 'château', 'Villa', 'Hôtel Particulier',
                 'Duplex/triplex', 'Chambre', 'Ferme', 'Atelier', 'Plateau', 'Moulin']

for i in range(len(df.index)):
    for tb in liste_type_bien:            
        if df.iloc[i, 1].__contains__(tb)==True:
            df.iloc[i, 6] = tb
        else:
            pass #obligé de mettre ça. Une autre valeur créé un un affichage erronné dans colonne type de bien

In [426]:
df[df['type_bien']==''] # vérification que toutes les cellules ont une valeur

Empty DataFrame
Columns: [Unnamed: 0, titre_annonce, ville_cp, prix, texte_annonce, nom_agence, type_bien]
Index: []

# Création d'une colonne code postal

In [427]:

cp_reg = re.compile(r'\((\w){5}\)') #pattern pour code postal incluant parenthese 
df['code_postal'] = ''

### Extraction cp dans colonne cp_ville et insertion dans colonne code_postal

In [428]:

for i in range(len(df.index)):
        try:            
            df.iloc[i, 7] = re.sub(r'[\(\)]','',cp_reg.search(df.iloc[i, 2]).group())
        except (AttributeError):
            pass
        else:
            df.iloc[i, 7] = re.sub(r'[\(\)]','',cp_reg.search(df.iloc[i, 2]).group())

### Vérification des valeurs nulles dans colonne CP

In [429]:

#df[(df.code_postal == '') & (df.ville_cp.str.contains('Paris'))]
df[df.code_postal == '']

,Unnamed: 0,titre_annonce,ville_cp,prix,texte_annonce,nom_agence,type_bien,code_postal
0,0,"Appartement 2 pièces, 33 m² Paris 18",Paris 18,420 000 €,Place Saint Pierre / Butte Montmartrre. 2 piè...,DISTRICT GEORGE V,Appartement,
1,1,"Appartement 5 pièces, 146 m² Paris 8",Paris 8,2 660 000 €,TRIANGLE d'OR proche de l'avenue Montaigne - ...,DISTRICT GEORGE V,Appartement,
5,5,"Appartement 2 pièces, 47 m² Paris 15",Paris 15,415 000 €,Appartement 2 pièces 47m2 à Paris en résidenc...,EXPERTIMO,Appartement,
27,27,"Maison 9 pièces, 230 m² Paris 1",Paris 1,333 000 €,Splendide maison en pierres 230 mètres carrés...,IMMOBILIERE DE LA REPUBLIQUE,Maison,
32,32,"Appartement 1 pièce, 36 m² Paris 17",Paris 17,499 000 €,"VILLIERS 6 17è quartier Villiers, beau studio...",PIERRE DE TAILLE CONSEIL IMMOBILIER,Appartement,
...,...,...,...,...,...,...,...,...
17423,17423,"Appartement 1 pièce, 21 m² Paris 8",Paris 8,578 000 €,Vente Appartement 1 pièce IAD France - Gaelle...,iad France,Appartement,
17484,17484,"Appartement 4 pièces, 76 m² Paris 13",Paris 13,937 300 €,"Dpt Paris (75), à vendre PARIS 13EME ARRONDIS...",Capifrance,Appartement,
17498,17498,Appartement 4 pièces Paris 17,Paris 17,980 000 €,"75017, rénové et prêt à emménager, bel appart...",LEGGETT IMMOBILIER,Appartement,
17539,17539,"Appartement 3 pièces, 80 m² Paris 18",Paris 18,965 000 €,Appartement Paris 3 pièce(s) 64 m2 Retrouvez ...,PIERRE INVEST,Appartement,
17541,17541,"Appartement 5 pièces, 110 m² Paris 18",Paris 18,2 070 000 €,Appartement Paris 5 pièce(s) 109 m2 Retrouvez...,PIERRE INVEST,Appartement,

In [430]:
df.ville_cp=df.ville_cp.astype('str')

In [431]:
#df.ville_cp = df.ville_cp.apply(lambda x: 'nc' if x=='Immobilier  / Vente immobilier ' else x)

In [432]:
#df[df.ville_cp.isin(['nc'])]

In [433]:
#df_erreurs_cp =df[df.code_postal == '']
#df_erreurs_cp.to_csv('pv_paritculierIdf.csv')

In [434]:
df[df.ville_cp=='']

Empty DataFrame
Columns: [Unnamed: 0, titre_annonce, ville_cp, prix, texte_annonce, nom_agence, type_bien, code_postal]
Index: []

### Conversion en 'nc' pour cellules CP marquées '/n'

In [435]:
df[df.ville_cp=='\n']

,Unnamed: 0,titre_annonce,ville_cp,prix,texte_annonce,nom_agence,type_bien,code_postal
1219,1219,"Appartement 5 pièces, 115 m²",\n,385 000 €,LA ROCHETTE - DUPLEX DE 5 PIÈCES DE 114 M2 AV...,2M IMMOBILIER,Appartement,
1221,1221,"Maison 6 pièces, 130 m²",\n,305 225 €,A VENDRE MAISON MELUN GARE 6 PIECES 130 m2 MA...,2M IMMOBILIER,Maison,
2402,2402,"Maison 7 pièces, 183 m²",\n,288 000 €,"Provins, maison en pierres, excellent état, 7...",LMD IMMOBILIER,Maison,
2784,2784,"Appartement 4 pièces, 89 m²",\n,385 000 €,"4 pièces de 89m2 A proximité du centre ville,...",COTE PARTICULIERS CHATILLON,Appartement,
3392,3392,"Maison 9 pièces, 185 m²",\n,595 000 €,Melun SURPRENANT!!! Dans le centre ville vous...,2M IMMOBILIER,Maison,
3586,3586,"Appartement 4 pièces, 86 m²",\n,562 000 €,appartement 4 pièces aux sablons A 300 mètres...,COTE PARTICULIERS CHATILLON,Appartement,
3598,3598,"Maison 5 pièces, 160 m²",\n,1 220 000 €,Villa a proximité du Métro Dans une impasse p...,COTE PARTICULIERS CHATILLON,Maison,
3658,3658,"Maison 4 pièces, 120 m²",\n,270 000 €,"Maison Meulière, secteur calme, Dammarie Les ...",2M IMMOBILIER,Maison,
3832,3832,"Maison 10 pièces, 250 m²",\n,540 000 €,A VENDRE CORPS DE FERME EN BON ETAT A FORT PO...,2M IMMOBILIER,Maison,
3849,3849,"Appartement 5 pièces, 155 m²",\n,4 500 000 €,PARIS 14e: Rue campagne première L'agence TRI...,TRIOTIM,Appartement,
3851,3851,"Appartement 2 pièces, 47 m²",\n,235 000 €,ARPAJON - IDEAL INVESTISSEURS A 3 min à pied ...,TRIOTIM,Appartement,
3852,3852,"Appartement 3 pièces, 61 m²",\n,279 000 €,ARPAJON - IDEAL INVESTISSEURS A 3 min à pied ...,TRIOTIM,Appartement,
3854,3854,"Appartement 5 pièces, 155 m²",\n,4 500 000 €,PARIS 14e: Rue campagne première L'agence TRI...,TRIOTIM,Appartement,
3855,3855,"Appartement 3 pièces, 61 m²",\n,289 000 €,ARPAJON - IDEAL INVESTISSEURS A 3 min à pied ...,TRIOTIM,Appartement,
4292,4292,"Appartement 2 pièces, 35 m²",\n,177 000 €,Appartement de type F2 Je vous propose un trè...,TOWER IMMOBILIER,Appartement,
4345,4345,"Maison 6 pièces, 218 m²",\n,785 000 €,Charmante Propriété avec bord de rivière sur ...,VAL IMMOBILIER MILLY,Maison,
5057,5057,"Appartement 2 pièces, 50 m²",\n,149 000 €,A VENDRE MELUN GARE APPARTEMENT 2 PIECES DE 5...,2M IMMOBILIER,Appartement,
5269,5269,"Maison 5 pièces, 90 m²",\n,249 000 €,A VENDRE MELUN GARE MAISON DE 5 PIECES MELUN ...,2M IMMOBILIER,Maison,
5685,5685,"Appartement 3 pièces, 75 m²",\n,189 000 €,EXCLUSIVITÉ Appartement A VENDRE Melun Centre...,2M IMMOBILIER,Appartement,
6235,6235,"Appartement 1 pièce, 17 m²",\n,78 000 €,MELUN STUDIO VENDU LOUE SITUE A PROXIMITE DE ...,2M IMMOBILIER,Appartement,
6356,6356,"Appartement 2 pièces, 1 m²",\n,146 500 €,GARE DE MELUN A VENDRE APPARTEMENT 2 PP DE 45...,2M IMMOBILIER,Appartement,
6913,6913,"Maison 7 pièces, 183 m²",\n,292 000 €,ROZAY MAISON DE CARACTERE 6 CHAMBRES SUR 331M...,LMD IMMOBILIER,Maison,
7103,7103,"Maison 4 pièces, 85 m²",\n,159 000 €,BRIARDE DE CARACTERE 3 CHAMBRES SUR JARDINET ...,LMD IMMOBILIER,Maison,
7417,7417,"Maison 7 pièces, 267 m²",\n,599 000 €,MILLY LA FORÊTMaison traditionnelle sur 2250 ...,VAL IMMOBILIER MILLY,Maison,
8347,8347,"Appartement 3 pièces, 81 m²",\n,262 695 €,A VENDRE A LE MEE VILLAGE APPARTEMENT RÉCENT ...,2M IMMOBILIER,Appartement,
8650,8650,"Maison 7 pièces, 160 m²",\n,489 000 €,Maison La Rochette 7 pièce(s) 160 m2 Belle ma...,2M IMMOBILIER,Maison,
8874,8874,"Maison 7 pièces, 134 m²",\n,362 000 €,MAISON A VENDRE DE 134 M² A MELUN PROCHE GARE...,2M IMMOBILIER,Maison,
9077,9077,"Appartement 4 pièces, 81 m²",\n,385 000 €,Situé entre le centre-ville et le Métro au re...,COTE PARTICULIERS CHATILLON,Appartement,
9524,9524,"Maison 4 pièces, 80 m²",\n,269 000 €,A VENDRE MAISON EN EXCELLENT ETAT A DAMMARIE ...,2M IMMOBILIER,Maison,
9649,9649,"Maison 5 pièces, 109 m²",\n,290 000 €,MAISON A VENDRE EN EXCLUSIVITÉ A CESSON BOURG...,2M IMMOBILIER,Maison,
9868,9868,"Maison 7 pièces, 141 m²",\n,312 000 €,LONGERE 7 PIECES PROCHE PROVINS Sourdun - à 5...,LMD IMMOBILIER,Maison,
9948,9948,"Maison 6 pièces, 156 m²",\n,416 000 €,"Coeur Village, Proche Forêt.Maison traditionn...",VAL IMMOBILIER MILLY,Maison,
10081,10081,"Appartement 5 pièces, 103 m²",\n,265 000 €,A VENDRE APPARTEMENT VAUX LE PENIL 5 PIECES 1...,2M IMMOBILIER,Appartement,
10239,10239,"Maison 6 pièces, 140 m²",\n,1 336 000 €,MAISON DE 140M2 AVEC JARDIN Idéalement située...,COTE PARTICULIERS CHATILLON,Maison,
10265,10265,"Appartement 5 pièces, 104 m²",\n,275 000 €,Appartement 5 pièces proche gare de MELUN Sup...,2M IMMOBILIER,Appartement,
10266,10266,"Maison 5 pièces, 135 m²",\n,295 000 €,"au coeur du centre ville, proche toutes commo...",2M IMMOBILIER,Maison,
10267,10267,"Maison 8 pièces, 300 m²",\n,785 000 €,PROPRIÉTÉ TYPE FERMETTE RÉNOVÉE VALLÉE DE L'E...,2M IMMOBILIER,Maison,
11458,11458,"Appartement 2 pièces, 46 m²",\n,134 000 €,A VENDRE A VAUX LE PENIL APPARTEMENT DE 2 PIE...,2M IMMOBILIER,Appartement,
11545,11545,"Maison 9 pièces, 230 m²",\n,755 000 €,EXCLUSIVITÉ A VENDRE SUPERBE DEMEURE BOURGEOI...,2M IMMOBILIER,Maison,
12035,12035,"Appartement 4 pièces, 75 m²",\n,159 500 €,"MELUN entre Centre ville et gare, Appartement...",2M IMMOBILIER,Appartement,
12539,12539,"Appartement 4 pièces, 74 m²",\n,179 000 €,EXCLUSIVITÉ Appartement Melun 4 pièce(s) 74 m...,2M IMMOBILIER,Appartement,
12727,12727,"Maison 7 pièces, 185 m²",\n,421 000 €,MELUN CENTRE MAISON EN PIERRES A VENDRE Beaux...,2M IMMOBILIER,Maison,
12814,12814,"Appartement 2 pièces, 39 m²",\n,410 000 €,"COURBEVOIE, esplanade de LA DEFENSE, Placemen...",EURO PATRIMOINE IMMOBILIER,Appartement,
13049,13049,"Maison 7 pièces, 165 m²",\n,369 000 €,Coeur de VillageMaison anienne de Village sur...,VAL IMMOBILIER MILLY,Maison,
13585,13585,"Maison 6 pièces, 100 m²",\n,368 000 €,A VENDRE MELUN GARE MEULIERE DE 6 PIECES DE 1...,2M IMMOBILIER,Maison,
13935,13935,"Appartement 4 pièces, 86 m²",\n,283 500 €,A VENDRE APPARTEMENT STANDING AVEC VUE SEINE ...,2M IMMOBILIER,Appartement,
13936,13936,"Maison 6 pièces, 140 m²",\n,349 000 €,MAISON A VENDRE BOISSETTES/BOISSISE LA BERTRA...,2M IMMOBILIER,Maison,
14562,14562,"Appartement 4 pièces, 106 m²",\n,285 000 €,A VENDRE MELUN CENTRE APPARTEMENT DE 4 PIECES...,2M IMMOBILIER,Appartement,
15413,15413,"Maison 6 pièces, 155 m²",\n,313 000 €,"Donnemarie Dontilly, grande maison de 6 pièce...",LMD IMMOBILIER,Maison,
15425,15425,"Appartement 3 pièces, 52 m²",\n,329 000 €,1er étage d'une maison 3 pièces 52 m2 A deux ...,COTE PARTICULIERS CHATILLON,Appartement,
15624,15624,"Maison 8 pièces, 220 m²",\n,399 000 €,A VENDRE MAISON BOURGEOISE A MELUN A proximit...,2M IMMOBILIER,Maison,
16180,16180,"Maison 6 pièces, 180 m²",\n,595 000 €,PONTHIERRY PROCHE Dans un Environnement calme...,2M IMMOBILIER,Maison,
16556,16556,"Maison 9 pièces, 191 m²",\n,430 000 €,A Vendre Maison 9 pièces à Dammarie-Les-Lys A...,2M IMMOBILIER,Maison,
16783,16783,"Maison 6 pièces, 180 m²",\n,447 000 €,ROZAY MAISON BRIARDE DE CARACTERE - 4 CHAMBRE...,LMD IMMOBILIER,Maison,
17121,17121,"Maison 4 pièces, 80 m²",\n,249 000 €,A VENDRE EN EXCLUSIVITE MAISON MELUN GARE MEL...,2M IMMOBILIER,Maison,

In [436]:
df.ville_cp = df.ville_cp.apply(lambda x: 'nc' if x=='\n' else x)

In [437]:
df[df.ville_cp == 'nc']

,Unnamed: 0,titre_annonce,ville_cp,prix,texte_annonce,nom_agence,type_bien,code_postal
1219,1219,"Appartement 5 pièces, 115 m²",nc,385 000 €,LA ROCHETTE - DUPLEX DE 5 PIÈCES DE 114 M2 AV...,2M IMMOBILIER,Appartement,
1221,1221,"Maison 6 pièces, 130 m²",nc,305 225 €,A VENDRE MAISON MELUN GARE 6 PIECES 130 m2 MA...,2M IMMOBILIER,Maison,
2402,2402,"Maison 7 pièces, 183 m²",nc,288 000 €,"Provins, maison en pierres, excellent état, 7...",LMD IMMOBILIER,Maison,
2784,2784,"Appartement 4 pièces, 89 m²",nc,385 000 €,"4 pièces de 89m2 A proximité du centre ville,...",COTE PARTICULIERS CHATILLON,Appartement,
3392,3392,"Maison 9 pièces, 185 m²",nc,595 000 €,Melun SURPRENANT!!! Dans le centre ville vous...,2M IMMOBILIER,Maison,
3586,3586,"Appartement 4 pièces, 86 m²",nc,562 000 €,appartement 4 pièces aux sablons A 300 mètres...,COTE PARTICULIERS CHATILLON,Appartement,
3598,3598,"Maison 5 pièces, 160 m²",nc,1 220 000 €,Villa a proximité du Métro Dans une impasse p...,COTE PARTICULIERS CHATILLON,Maison,
3658,3658,"Maison 4 pièces, 120 m²",nc,270 000 €,"Maison Meulière, secteur calme, Dammarie Les ...",2M IMMOBILIER,Maison,
3832,3832,"Maison 10 pièces, 250 m²",nc,540 000 €,A VENDRE CORPS DE FERME EN BON ETAT A FORT PO...,2M IMMOBILIER,Maison,
3849,3849,"Appartement 5 pièces, 155 m²",nc,4 500 000 €,PARIS 14e: Rue campagne première L'agence TRI...,TRIOTIM,Appartement,
3851,3851,"Appartement 2 pièces, 47 m²",nc,235 000 €,ARPAJON - IDEAL INVESTISSEURS A 3 min à pied ...,TRIOTIM,Appartement,
3852,3852,"Appartement 3 pièces, 61 m²",nc,279 000 €,ARPAJON - IDEAL INVESTISSEURS A 3 min à pied ...,TRIOTIM,Appartement,
3854,3854,"Appartement 5 pièces, 155 m²",nc,4 500 000 €,PARIS 14e: Rue campagne première L'agence TRI...,TRIOTIM,Appartement,
3855,3855,"Appartement 3 pièces, 61 m²",nc,289 000 €,ARPAJON - IDEAL INVESTISSEURS A 3 min à pied ...,TRIOTIM,Appartement,
4292,4292,"Appartement 2 pièces, 35 m²",nc,177 000 €,Appartement de type F2 Je vous propose un trè...,TOWER IMMOBILIER,Appartement,
4345,4345,"Maison 6 pièces, 218 m²",nc,785 000 €,Charmante Propriété avec bord de rivière sur ...,VAL IMMOBILIER MILLY,Maison,
5057,5057,"Appartement 2 pièces, 50 m²",nc,149 000 €,A VENDRE MELUN GARE APPARTEMENT 2 PIECES DE 5...,2M IMMOBILIER,Appartement,
5269,5269,"Maison 5 pièces, 90 m²",nc,249 000 €,A VENDRE MELUN GARE MAISON DE 5 PIECES MELUN ...,2M IMMOBILIER,Maison,
5685,5685,"Appartement 3 pièces, 75 m²",nc,189 000 €,EXCLUSIVITÉ Appartement A VENDRE Melun Centre...,2M IMMOBILIER,Appartement,
6235,6235,"Appartement 1 pièce, 17 m²",nc,78 000 €,MELUN STUDIO VENDU LOUE SITUE A PROXIMITE DE ...,2M IMMOBILIER,Appartement,
6356,6356,"Appartement 2 pièces, 1 m²",nc,146 500 €,GARE DE MELUN A VENDRE APPARTEMENT 2 PP DE 45...,2M IMMOBILIER,Appartement,
6913,6913,"Maison 7 pièces, 183 m²",nc,292 000 €,ROZAY MAISON DE CARACTERE 6 CHAMBRES SUR 331M...,LMD IMMOBILIER,Maison,
7103,7103,"Maison 4 pièces, 85 m²",nc,159 000 €,BRIARDE DE CARACTERE 3 CHAMBRES SUR JARDINET ...,LMD IMMOBILIER,Maison,
7417,7417,"Maison 7 pièces, 267 m²",nc,599 000 €,MILLY LA FORÊTMaison traditionnelle sur 2250 ...,VAL IMMOBILIER MILLY,Maison,
8347,8347,"Appartement 3 pièces, 81 m²",nc,262 695 €,A VENDRE A LE MEE VILLAGE APPARTEMENT RÉCENT ...,2M IMMOBILIER,Appartement,
8650,8650,"Maison 7 pièces, 160 m²",nc,489 000 €,Maison La Rochette 7 pièce(s) 160 m2 Belle ma...,2M IMMOBILIER,Maison,
8874,8874,"Maison 7 pièces, 134 m²",nc,362 000 €,MAISON A VENDRE DE 134 M² A MELUN PROCHE GARE...,2M IMMOBILIER,Maison,
9077,9077,"Appartement 4 pièces, 81 m²",nc,385 000 €,Situé entre le centre-ville et le Métro au re...,COTE PARTICULIERS CHATILLON,Appartement,
9524,9524,"Maison 4 pièces, 80 m²",nc,269 000 €,A VENDRE MAISON EN EXCELLENT ETAT A DAMMARIE ...,2M IMMOBILIER,Maison,
9649,9649,"Maison 5 pièces, 109 m²",nc,290 000 €,MAISON A VENDRE EN EXCLUSIVITÉ A CESSON BOURG...,2M IMMOBILIER,Maison,
9868,9868,"Maison 7 pièces, 141 m²",nc,312 000 €,LONGERE 7 PIECES PROCHE PROVINS Sourdun - à 5...,LMD IMMOBILIER,Maison,
9948,9948,"Maison 6 pièces, 156 m²",nc,416 000 €,"Coeur Village, Proche Forêt.Maison traditionn...",VAL IMMOBILIER MILLY,Maison,
10081,10081,"Appartement 5 pièces, 103 m²",nc,265 000 €,A VENDRE APPARTEMENT VAUX LE PENIL 5 PIECES 1...,2M IMMOBILIER,Appartement,
10239,10239,"Maison 6 pièces, 140 m²",nc,1 336 000 €,MAISON DE 140M2 AVEC JARDIN Idéalement située...,COTE PARTICULIERS CHATILLON,Maison,
10265,10265,"Appartement 5 pièces, 104 m²",nc,275 000 €,Appartement 5 pièces proche gare de MELUN Sup...,2M IMMOBILIER,Appartement,
10266,10266,"Maison 5 pièces, 135 m²",nc,295 000 €,"au coeur du centre ville, proche toutes commo...",2M IMMOBILIER,Maison,
10267,10267,"Maison 8 pièces, 300 m²",nc,785 000 €,PROPRIÉTÉ TYPE FERMETTE RÉNOVÉE VALLÉE DE L'E...,2M IMMOBILIER,Maison,
11458,11458,"Appartement 2 pièces, 46 m²",nc,134 000 €,A VENDRE A VAUX LE PENIL APPARTEMENT DE 2 PIE...,2M IMMOBILIER,Appartement,
11545,11545,"Maison 9 pièces, 230 m²",nc,755 000 €,EXCLUSIVITÉ A VENDRE SUPERBE DEMEURE BOURGEOI...,2M IMMOBILIER,Maison,
12035,12035,"Appartement 4 pièces, 75 m²",nc,159 500 €,"MELUN entre Centre ville et gare, Appartement...",2M IMMOBILIER,Appartement,
12539,12539,"Appartement 4 pièces, 74 m²",nc,179 000 €,EXCLUSIVITÉ Appartement Melun 4 pièce(s) 74 m...,2M IMMOBILIER,Appartement,
12727,12727,"Maison 7 pièces, 185 m²",nc,421 000 €,MELUN CENTRE MAISON EN PIERRES A VENDRE Beaux...,2M IMMOBILIER,Maison,
12814,12814,"Appartement 2 pièces, 39 m²",nc,410 000 €,"COURBEVOIE, esplanade de LA DEFENSE, Placemen...",EURO PATRIMOINE IMMOBILIER,Appartement,
13049,13049,"Maison 7 pièces, 165 m²",nc,369 000 €,Coeur de VillageMaison anienne de Village sur...,VAL IMMOBILIER MILLY,Maison,
13585,13585,"Maison 6 pièces, 100 m²",nc,368 000 €,A VENDRE MELUN GARE MEULIERE DE 6 PIECES DE 1...,2M IMMOBILIER,Maison,
13935,13935,"Appartement 4 pièces, 86 m²",nc,283 500 €,A VENDRE APPARTEMENT STANDING AVEC VUE SEINE ...,2M IMMOBILIER,Appartement,
13936,13936,"Maison 6 pièces, 140 m²",nc,349 000 €,MAISON A VENDRE BOISSETTES/BOISSISE LA BERTRA...,2M IMMOBILIER,Maison,
14562,14562,"Appartement 4 pièces, 106 m²",nc,285 000 €,A VENDRE MELUN CENTRE APPARTEMENT DE 4 PIECES...,2M IMMOBILIER,Appartement,
15413,15413,"Maison 6 pièces, 155 m²",nc,313 000 €,"Donnemarie Dontilly, grande maison de 6 pièce...",LMD IMMOBILIER,Maison,
15425,15425,"Appartement 3 pièces, 52 m²",nc,329 000 €,1er étage d'une maison 3 pièces 52 m2 A deux ...,COTE PARTICULIERS CHATILLON,Appartement,
15624,15624,"Maison 8 pièces, 220 m²",nc,399 000 €,A VENDRE MAISON BOURGEOISE A MELUN A proximit...,2M IMMOBILIER,Maison,
16180,16180,"Maison 6 pièces, 180 m²",nc,595 000 €,PONTHIERRY PROCHE Dans un Environnement calme...,2M IMMOBILIER,Maison,
16556,16556,"Maison 9 pièces, 191 m²",nc,430 000 €,A Vendre Maison 9 pièces à Dammarie-Les-Lys A...,2M IMMOBILIER,Maison,
16783,16783,"Maison 6 pièces, 180 m²",nc,447 000 €,ROZAY MAISON BRIARDE DE CARACTERE - 4 CHAMBRE...,LMD IMMOBILIER,Maison,
17121,17121,"Maison 4 pièces, 80 m²",nc,249 000 €,A VENDRE EN EXCLUSIVITE MAISON MELUN GARE MEL...,2M IMMOBILIER,Maison,

### Pour paris: extraction arrondissement dans colonne ville_cp et insertion dans colonne CP avec formatage au format code postal

In [438]:
for i in range(len(df.index)):
        if 'Paris'in df.iloc[i, 2]:        
            df.iloc[i, 7] = '750'+re.sub(r'Paris\s', '',df.iloc[i, 2])

In [439]:
df[df.code_postal=='']

,Unnamed: 0,titre_annonce,ville_cp,prix,texte_annonce,nom_agence,type_bien,code_postal
1219,1219,"Appartement 5 pièces, 115 m²",nc,385 000 €,LA ROCHETTE - DUPLEX DE 5 PIÈCES DE 114 M2 AV...,2M IMMOBILIER,Appartement,
1221,1221,"Maison 6 pièces, 130 m²",nc,305 225 €,A VENDRE MAISON MELUN GARE 6 PIECES 130 m2 MA...,2M IMMOBILIER,Maison,
2402,2402,"Maison 7 pièces, 183 m²",nc,288 000 €,"Provins, maison en pierres, excellent état, 7...",LMD IMMOBILIER,Maison,
2784,2784,"Appartement 4 pièces, 89 m²",nc,385 000 €,"4 pièces de 89m2 A proximité du centre ville,...",COTE PARTICULIERS CHATILLON,Appartement,
3392,3392,"Maison 9 pièces, 185 m²",nc,595 000 €,Melun SURPRENANT!!! Dans le centre ville vous...,2M IMMOBILIER,Maison,
3586,3586,"Appartement 4 pièces, 86 m²",nc,562 000 €,appartement 4 pièces aux sablons A 300 mètres...,COTE PARTICULIERS CHATILLON,Appartement,
3598,3598,"Maison 5 pièces, 160 m²",nc,1 220 000 €,Villa a proximité du Métro Dans une impasse p...,COTE PARTICULIERS CHATILLON,Maison,
3658,3658,"Maison 4 pièces, 120 m²",nc,270 000 €,"Maison Meulière, secteur calme, Dammarie Les ...",2M IMMOBILIER,Maison,
3832,3832,"Maison 10 pièces, 250 m²",nc,540 000 €,A VENDRE CORPS DE FERME EN BON ETAT A FORT PO...,2M IMMOBILIER,Maison,
3849,3849,"Appartement 5 pièces, 155 m²",nc,4 500 000 €,PARIS 14e: Rue campagne première L'agence TRI...,TRIOTIM,Appartement,
3851,3851,"Appartement 2 pièces, 47 m²",nc,235 000 €,ARPAJON - IDEAL INVESTISSEURS A 3 min à pied ...,TRIOTIM,Appartement,
3852,3852,"Appartement 3 pièces, 61 m²",nc,279 000 €,ARPAJON - IDEAL INVESTISSEURS A 3 min à pied ...,TRIOTIM,Appartement,
3854,3854,"Appartement 5 pièces, 155 m²",nc,4 500 000 €,PARIS 14e: Rue campagne première L'agence TRI...,TRIOTIM,Appartement,
3855,3855,"Appartement 3 pièces, 61 m²",nc,289 000 €,ARPAJON - IDEAL INVESTISSEURS A 3 min à pied ...,TRIOTIM,Appartement,
4292,4292,"Appartement 2 pièces, 35 m²",nc,177 000 €,Appartement de type F2 Je vous propose un trè...,TOWER IMMOBILIER,Appartement,
4345,4345,"Maison 6 pièces, 218 m²",nc,785 000 €,Charmante Propriété avec bord de rivière sur ...,VAL IMMOBILIER MILLY,Maison,
5057,5057,"Appartement 2 pièces, 50 m²",nc,149 000 €,A VENDRE MELUN GARE APPARTEMENT 2 PIECES DE 5...,2M IMMOBILIER,Appartement,
5269,5269,"Maison 5 pièces, 90 m²",nc,249 000 €,A VENDRE MELUN GARE MAISON DE 5 PIECES MELUN ...,2M IMMOBILIER,Maison,
5685,5685,"Appartement 3 pièces, 75 m²",nc,189 000 €,EXCLUSIVITÉ Appartement A VENDRE Melun Centre...,2M IMMOBILIER,Appartement,
6235,6235,"Appartement 1 pièce, 17 m²",nc,78 000 €,MELUN STUDIO VENDU LOUE SITUE A PROXIMITE DE ...,2M IMMOBILIER,Appartement,
6356,6356,"Appartement 2 pièces, 1 m²",nc,146 500 €,GARE DE MELUN A VENDRE APPARTEMENT 2 PP DE 45...,2M IMMOBILIER,Appartement,
6913,6913,"Maison 7 pièces, 183 m²",nc,292 000 €,ROZAY MAISON DE CARACTERE 6 CHAMBRES SUR 331M...,LMD IMMOBILIER,Maison,
7103,7103,"Maison 4 pièces, 85 m²",nc,159 000 €,BRIARDE DE CARACTERE 3 CHAMBRES SUR JARDINET ...,LMD IMMOBILIER,Maison,
7417,7417,"Maison 7 pièces, 267 m²",nc,599 000 €,MILLY LA FORÊTMaison traditionnelle sur 2250 ...,VAL IMMOBILIER MILLY,Maison,
8347,8347,"Appartement 3 pièces, 81 m²",nc,262 695 €,A VENDRE A LE MEE VILLAGE APPARTEMENT RÉCENT ...,2M IMMOBILIER,Appartement,
8650,8650,"Maison 7 pièces, 160 m²",nc,489 000 €,Maison La Rochette 7 pièce(s) 160 m2 Belle ma...,2M IMMOBILIER,Maison,
8874,8874,"Maison 7 pièces, 134 m²",nc,362 000 €,MAISON A VENDRE DE 134 M² A MELUN PROCHE GARE...,2M IMMOBILIER,Maison,
9077,9077,"Appartement 4 pièces, 81 m²",nc,385 000 €,Situé entre le centre-ville et le Métro au re...,COTE PARTICULIERS CHATILLON,Appartement,
9524,9524,"Maison 4 pièces, 80 m²",nc,269 000 €,A VENDRE MAISON EN EXCELLENT ETAT A DAMMARIE ...,2M IMMOBILIER,Maison,
9649,9649,"Maison 5 pièces, 109 m²",nc,290 000 €,MAISON A VENDRE EN EXCLUSIVITÉ A CESSON BOURG...,2M IMMOBILIER,Maison,
9868,9868,"Maison 7 pièces, 141 m²",nc,312 000 €,LONGERE 7 PIECES PROCHE PROVINS Sourdun - à 5...,LMD IMMOBILIER,Maison,
9948,9948,"Maison 6 pièces, 156 m²",nc,416 000 €,"Coeur Village, Proche Forêt.Maison traditionn...",VAL IMMOBILIER MILLY,Maison,
10081,10081,"Appartement 5 pièces, 103 m²",nc,265 000 €,A VENDRE APPARTEMENT VAUX LE PENIL 5 PIECES 1...,2M IMMOBILIER,Appartement,
10239,10239,"Maison 6 pièces, 140 m²",nc,1 336 000 €,MAISON DE 140M2 AVEC JARDIN Idéalement située...,COTE PARTICULIERS CHATILLON,Maison,
10265,10265,"Appartement 5 pièces, 104 m²",nc,275 000 €,Appartement 5 pièces proche gare de MELUN Sup...,2M IMMOBILIER,Appartement,
10266,10266,"Maison 5 pièces, 135 m²",nc,295 000 €,"au coeur du centre ville, proche toutes commo...",2M IMMOBILIER,Maison,
10267,10267,"Maison 8 pièces, 300 m²",nc,785 000 €,PROPRIÉTÉ TYPE FERMETTE RÉNOVÉE VALLÉE DE L'E...,2M IMMOBILIER,Maison,
11458,11458,"Appartement 2 pièces, 46 m²",nc,134 000 €,A VENDRE A VAUX LE PENIL APPARTEMENT DE 2 PIE...,2M IMMOBILIER,Appartement,
11545,11545,"Maison 9 pièces, 230 m²",nc,755 000 €,EXCLUSIVITÉ A VENDRE SUPERBE DEMEURE BOURGEOI...,2M IMMOBILIER,Maison,
12035,12035,"Appartement 4 pièces, 75 m²",nc,159 500 €,"MELUN entre Centre ville et gare, Appartement...",2M IMMOBILIER,Appartement,
12539,12539,"Appartement 4 pièces, 74 m²",nc,179 000 €,EXCLUSIVITÉ Appartement Melun 4 pièce(s) 74 m...,2M IMMOBILIER,Appartement,
12727,12727,"Maison 7 pièces, 185 m²",nc,421 000 €,MELUN CENTRE MAISON EN PIERRES A VENDRE Beaux...,2M IMMOBILIER,Maison,
12814,12814,"Appartement 2 pièces, 39 m²",nc,410 000 €,"COURBEVOIE, esplanade de LA DEFENSE, Placemen...",EURO PATRIMOINE IMMOBILIER,Appartement,
13049,13049,"Maison 7 pièces, 165 m²",nc,369 000 €,Coeur de VillageMaison anienne de Village sur...,VAL IMMOBILIER MILLY,Maison,
13585,13585,"Maison 6 pièces, 100 m²",nc,368 000 €,A VENDRE MELUN GARE MEULIERE DE 6 PIECES DE 1...,2M IMMOBILIER,Maison,
13935,13935,"Appartement 4 pièces, 86 m²",nc,283 500 €,A VENDRE APPARTEMENT STANDING AVEC VUE SEINE ...,2M IMMOBILIER,Appartement,
13936,13936,"Maison 6 pièces, 140 m²",nc,349 000 €,MAISON A VENDRE BOISSETTES/BOISSISE LA BERTRA...,2M IMMOBILIER,Maison,
14562,14562,"Appartement 4 pièces, 106 m²",nc,285 000 €,A VENDRE MELUN CENTRE APPARTEMENT DE 4 PIECES...,2M IMMOBILIER,Appartement,
15413,15413,"Maison 6 pièces, 155 m²",nc,313 000 €,"Donnemarie Dontilly, grande maison de 6 pièce...",LMD IMMOBILIER,Maison,
15425,15425,"Appartement 3 pièces, 52 m²",nc,329 000 €,1er étage d'une maison 3 pièces 52 m2 A deux ...,COTE PARTICULIERS CHATILLON,Appartement,
15624,15624,"Maison 8 pièces, 220 m²",nc,399 000 €,A VENDRE MAISON BOURGEOISE A MELUN A proximit...,2M IMMOBILIER,Maison,
16180,16180,"Maison 6 pièces, 180 m²",nc,595 000 €,PONTHIERRY PROCHE Dans un Environnement calme...,2M IMMOBILIER,Maison,
16556,16556,"Maison 9 pièces, 191 m²",nc,430 000 €,A Vendre Maison 9 pièces à Dammarie-Les-Lys A...,2M IMMOBILIER,Maison,
16783,16783,"Maison 6 pièces, 180 m²",nc,447 000 €,ROZAY MAISON BRIARDE DE CARACTERE - 4 CHAMBRE...,LMD IMMOBILIER,Maison,
17121,17121,"Maison 4 pièces, 80 m²",nc,249 000 €,A VENDRE EN EXCLUSIVITE MAISON MELUN GARE MEL...,2M IMMOBILIER,Maison,

In [440]:
# na dans code_postal ramplacé par nc
df.code_postal=df.code_postal.apply(lambda x: 'nc' if x == '' else x)

In [441]:
# retrait code postal dans ville 
df.ville_cp = df.ville_cp.apply(lambda x: re.sub(r'\((\w){5}\)', '', x))

In [442]:
# renommer cp_ville en ville
df.rename(columns={'ville_cp':'ville'}, inplace= True)

In [443]:
# CONVERSION DES CP PARISIENS  À 4 CHIFFRES EN 5 CHIFFRES (7501 TO 75001)
# création d'une liste avec 2 sous listes des codes postaux au mauvais format et l'autre au bon format
# (7501 et 75001 par ex)

cp_g = [list(range(7501, 7510)), list(range(75001, 75010))]
print(cp_g)

[[7501, 7502, 7503, 7504, 7505, 7506, 7507, 7508, 7509], [75001, 75002, 75003, 75004, 75005, 75006, 75007, 75008, 75009]]

In [444]:
# boucle pour chercher cp parisiens au mavais format et les convertir au bon format en iterant dans la 2eme 
# sous liste de cp_g
for i in range(len(df.index)):
    for l in range(len(cp_g[0])):        
        if df.iloc[i, 7] in str(cp_g[0][l]): #attention penser à mettre str car liste crée = digits et cp = str
            df.iloc[i, 7] = str(cp_g[1][l])
        else:
            pass

In [445]:
# corrections erreurs dans cp
df[df.code_postal=='750(75116)']
df.code_postal = df.code_postal.apply(lambda x: '75016' if x=="750(75116)" else x)

In [446]:
df.code_postal = df.code_postal.apply(lambda x: '95190' if x=='750Fontenay-en-Parisis (95190)' else x)

In [447]:
df.code_postal = df.code_postal.apply(lambda x: '95240' if x=='750Cormeilles-en-Parisis (95240)' else x)

In [448]:
# vérifications que foramt cp ok
df.code_postal.unique()

array(['75018', '75008', '91200', '91070', '77260', '75015', '95300',
       '91260', '91670', '77174', '77515', '77140', '91940', '95290',
       '95260', '77186', '77500', '77340', '77270', '95340', '95590',
       '75001', '91590', '93300', '75017', '91820', '77510', '75010',
       '78610', '92700', '91150', '93390', '94120', '95100', '92140',
       '93470', '93110', '94320', '95400', '78150', '78390', '91540',
       '77120', '93150', '77320', '78980', '78600', '77118', '94140',
       '77710', '95480', '78700', '91160', '78200', '78260', '91380',
       '77480', '92390', '78000', '75013', '77160', '93330', '78440',
       '78190', '77420', '93370', '77000', '77670', '77167', '77250',
       '77130', '78550', '95200', '77210', '95210', '91600', '93420',
       '94600', '95320', '78380', '78730', '92410', '91760', '77114',
       '77650', '78930', '93250', '93220', '77700', '75011', '93700',
       '93350', '94380', '77190', '91120', '77144', '91170', '77400',
       '78955', '78510', '91700', '91090', '93270', '94550', '94240',
       '92220', '91000', '93190', '77840', '94800', '78460', '78170',
       '92100', '93140', '93320', '75012', '91740', '91310', '95130',
       '77380', '77166', '91480', '93240', '75019', '77310', '77760',
       '77780', '77520', '77580', '78120', '91100', '93160', '94170',
       '94420', '94230', '94110', '94250', '94200', '78770', '92600',
       '95430', '75006', '77164', '94220', '75020', '75007', '92200',
       '92250', '93260', '93310', '92150', '94700', '92310', '75005',
       '93400', '91270', '91130', '92130', '91640', '91330', '77184',
       '94500', '91410', '77170', '94150', '77360', '77910', '77470',
       '95490', '95800', '93100', '77370', '94350', '77680', '77127',
       '92320', '91800', '94260', '94000', '92500', '77600', '95280',
       '94400', '91610', '75014', '77220', '91390', '94450', '91210',
       '91530', '77163', '77610', '95420', '95510', '92160', '95180',
       '77330', '91190', '78250', '78410', '93460', '77390', '77100',
       '94440', '93130', '91240', '91650', '93800', '91400', '94470',
       '91280', '94370', '78920', '95270', '95240', '77230', '77860',
       '77930', '91140', '77240', '78890', '77440', '95620', '78760',
       '78580', '95820', '92000', '95170', '77450', '95610', '91510',
       '91220', '93410', '91560', '77690', '77570', '92420', '75003',
       '94130', '94490', '93000', '93380', '94210', '93600', '93200',
       '95560', '93290', '91580', '95580', '91490', '94410', '92110',
       '95470', '95380', '77950', '94290', '78270', '91890', '75009',
       '95310', '78210', '78430', '92400', '77150', '94480', '94100',
       '95000', '92240', '94360', '91720', '93500', '92340', '95870',
       '75016', '92120', '75002', '78160', '91300', '78290', '91780',
       '91620', '78300', '94310', '77173', '95540', '91550', '91860',
       '95450', '95640', '92190', '77750', '91290', '95770', '95120',
       '77300', '95230', '77126', '77124', '95440', '78800', '91830',
       '95350', '77410', '78230', '77540', '92800', '78420', '95460',
       '91520', '78690', '77940', '92290', '77350', '78130', '77590',
       '78830', '75004', '95500', '95150', '77730', '91360', '91340',
       '77181', '78240', '91250', '78620', '77850', '91370', '95330',
       '78370', '78500', '78520', '94270', '77640', 'nc', '92370',
       '94520', '77200', '94460', '95600', '78220', '94340', '93360',
       '78570', '77115', '91420', '91690', '78540', '92350', '78125',
       '77134', '78560', '95250', '91630', '91660', '78114', '93230',
       '91230', '78860', '95160', '77280', '77460', '77870', '95680',
       '95880', '92380', '95220', '77620', '78840', '95370', '92360',
       '78110', '92300', '78490', '95110', '78790', '91450', '91840',
       '78111', '95360', '93120', '95520', '95750', '77290', '77820',
       '78630', '77810', '95650', '78710', '78310', '93340', '78180',
       '77890', '77178', '78660', '78990', '77111', '78360', '91460',
       '78100', '91180', '78711', '78820', '94190', '94160', '78280',
       '78530', '93170', '77830', '77920', '95760', '77176', '91770',
       '95410', '77550', '91470', '91080', '77177', '91440', '95390',
       '78910', '95190', '95140', '91350', '95810', '78480', '78590',
       '93210', '78780', '77169', '78113', '77135', '92210', '78350',
       '77720', '95570', '77560', '95630', '78450', '92260', '78470',
       '92230', '95550', '77970', '94430', '78870', '93450', '78340',
       '91430', '78950', '78320', '95700', '78112', '77185', '92330',
       '91750', '77183', '77165', '94880', '94300', '77660', '77123',
       '91810', '78680', '77138', '77630', '91850', '91680', '77090',
       '91710', '95720', '78400', '78640', '78330', '78140', '77430',
       '77157', '78650', '93430', '78720', '95660', '77131', '94510',
       '91730', '95830', '78670', '91570', '92270', '77880', '91880',
       '95690', '77148', '77133', '95670', '78740', '78810', '78121',
       '91320', '78970', '77139', '95780', '78940', '78850', '77990',
       '78124', '77171', '93440', '92170', '91790', '78960', '95850',
       '95740', '95710', '77122', '78126', '95530', '77151'], dtype=object)

In [449]:
#df[df.code_postal == '750Paris']

### Colonne ville : retrait arrondissement après ville Paris

In [450]:
#df.ville=df.ville.astype('str')
for i in range(len(df.index)):
    if 'Paris ' in df.iloc[i, 2]:
        df.iloc[i, 2] = 'Paris'
    else:
        pass

In [451]:
df[df.ville == 'Paris']

,Unnamed: 0,titre_annonce,ville,prix,texte_annonce,nom_agence,type_bien,code_postal
0,0,"Appartement 2 pièces, 33 m² Paris 18",Paris,420 000 €,Place Saint Pierre / Butte Montmartrre. 2 piè...,DISTRICT GEORGE V,Appartement,75018
1,1,"Appartement 5 pièces, 146 m² Paris 8",Paris,2 660 000 €,TRIANGLE d'OR proche de l'avenue Montaigne - ...,DISTRICT GEORGE V,Appartement,75008
5,5,"Appartement 2 pièces, 47 m² Paris 15",Paris,415 000 €,Appartement 2 pièces 47m2 à Paris en résidenc...,EXPERTIMO,Appartement,75015
27,27,"Maison 9 pièces, 230 m² Paris 1",Paris,333 000 €,Splendide maison en pierres 230 mètres carrés...,IMMOBILIERE DE LA REPUBLIQUE,Maison,75001
32,32,"Appartement 1 pièce, 36 m² Paris 17",Paris,499 000 €,"VILLIERS 6 17è quartier Villiers, beau studio...",PIERRE DE TAILLE CONSEIL IMMOBILIER,Appartement,75017
...,...,...,...,...,...,...,...,...
17423,17423,"Appartement 1 pièce, 21 m² Paris 8",Paris,578 000 €,Vente Appartement 1 pièce IAD France - Gaelle...,iad France,Appartement,75008
17484,17484,"Appartement 4 pièces, 76 m² Paris 13",Paris,937 300 €,"Dpt Paris (75), à vendre PARIS 13EME ARRONDIS...",Capifrance,Appartement,75013
17498,17498,Appartement 4 pièces Paris 17,Paris,980 000 €,"75017, rénové et prêt à emménager, bel appart...",LEGGETT IMMOBILIER,Appartement,75017
17539,17539,"Appartement 3 pièces, 80 m² Paris 18",Paris,965 000 €,Appartement Paris 3 pièce(s) 64 m2 Retrouvez ...,PIERRE INVEST,Appartement,75018
17541,17541,"Appartement 5 pièces, 110 m² Paris 18",Paris,2 070 000 €,Appartement Paris 5 pièce(s) 109 m2 Retrouvez...,PIERRE INVEST,Appartement,75018

# Formatage colonne 'prix'

In [452]:
#retrait sigle euro dans prix
df.prix = df.prix.apply(lambda x: re.sub(r'\s€', '', x))
#retrait espaces dans prix
df.prix = df.prix.apply(lambda x: re.sub(r'\s', '', x))

In [453]:
#retrait des lignes ou prix = NC (une dizaine de lignes)
df = df[df.prix!='NC']
df[df.prix=='NC']

Empty DataFrame
Columns: [Unnamed: 0, titre_annonce, ville, prix, texte_annonce, nom_agence, type_bien, code_postal]
Index: []

In [454]:
# conversion colonne prix en valeur numérique
df.prix = df.prix.apply(lambda x: int(x))

In [455]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16496 entries, 0 to 17599
Data columns (total 8 columns):
Unnamed: 0       16496 non-null int64
titre_annonce    16496 non-null object
ville            16496 non-null object
prix             16496 non-null int64
texte_annonce    16496 non-null object
nom_agence       16496 non-null object
type_bien        16496 non-null object
code_postal      16496 non-null object
dtypes: int64(2), object(6)
memory usage: 1.1+ MB

# Création variable 'Surface'

In [456]:
#création colonne surface
df['surface'] = ''

In [457]:
df.head()

,Unnamed: 0,titre_annonce,ville,prix,texte_annonce,nom_agence,type_bien,code_postal,surface
0,0,"Appartement 2 pièces, 33 m² Paris 18",Paris,420000,Place Saint Pierre / Butte Montmartrre. 2 piè...,DISTRICT GEORGE V,Appartement,75018,
1,1,"Appartement 5 pièces, 146 m² Paris 8",Paris,2660000,TRIANGLE d'OR proche de l'avenue Montaigne - ...,DISTRICT GEORGE V,Appartement,75008,
2,2,"Maison 5 pièces, 65 m² Athis-Mons (91200)",Athis-Mons,334000,PLATEAU JOLIE MEULIERE 120 M² CALME NON MITOY...,Réseau Swixim,Maison,91200,
3,3,"Appartement 3 pièces, 70 m² carrez Bondoufle ...",Bondoufle,202800,VIEUX CENTRE - Appartement 3 pièces - 70m² Si...,,Appartement,91070,
4,4,"Maison 3 pièces, 66 m² La Ferté-sous-Jouarre ...",La Ferté-sous-Jouarre,95500,"Maison de hameau avec courette, vue dégagée A...",AGENCE DE LA VALLEE,Maison,77260,

### Extraction surface de la colonne titre annonce et insertion dans colonne surface

In [458]:
surface_reg = re.compile(r'\w+\sm²') # pattern surface dans titre_annnoce

    
for i in range(len(df.index)): # insertion surface dans colonne surface
    try: # pour passer outre les valaurs nulles ou absence de surface dans annonce
        df.iloc[i, 8] = surface_reg.search(df.iloc[i, 1]).group()
    except:
        pass
    else:
        df.iloc[i, 8] = surface_reg.search(df.iloc[i, 1]).group()

In [459]:
df.head()

,Unnamed: 0,titre_annonce,ville,prix,texte_annonce,nom_agence,type_bien,code_postal,surface
0,0,"Appartement 2 pièces, 33 m² Paris 18",Paris,420000,Place Saint Pierre / Butte Montmartrre. 2 piè...,DISTRICT GEORGE V,Appartement,75018,33 m²
1,1,"Appartement 5 pièces, 146 m² Paris 8",Paris,2660000,TRIANGLE d'OR proche de l'avenue Montaigne - ...,DISTRICT GEORGE V,Appartement,75008,146 m²
2,2,"Maison 5 pièces, 65 m² Athis-Mons (91200)",Athis-Mons,334000,PLATEAU JOLIE MEULIERE 120 M² CALME NON MITOY...,Réseau Swixim,Maison,91200,65 m²
3,3,"Appartement 3 pièces, 70 m² carrez Bondoufle ...",Bondoufle,202800,VIEUX CENTRE - Appartement 3 pièces - 70m² Si...,,Appartement,91070,70 m²
4,4,"Maison 3 pièces, 66 m² La Ferté-sous-Jouarre ...",La Ferté-sous-Jouarre,95500,"Maison de hameau avec courette, vue dégagée A...",AGENCE DE LA VALLEE,Maison,77260,66 m²

In [460]:
# insertion 'nc' pour valeurs nulles dans surface
df.surface = df.surface.apply(lambda x: 'nc' if x == '' else x)

In [461]:
df[df.surface=='']

Empty DataFrame
Columns: [Unnamed: 0, titre_annonce, ville, prix, texte_annonce, nom_agence, type_bien, code_postal, surface]
Index: []

### Suppression de 'm2' dans surface afin d'avoir uniquement une valeur numérique

In [462]:
df.surface = df.surface.apply(lambda x : re.sub(r'\sm²', '', x))

### Remplacement par 'nc' dans surface quand 1m2 est indiqué

In [477]:
df.surface = df.surface.apply(lambda x: 'nc' if x==None else x)

In [479]:

df.surface = df.surface.apply(lambda x: None if x=='nc' else x)

#### df.surface=df.surface.astype('Int64')

In [482]:
df.surface = df.surface.apply(lambda x: int(x) if x!=None else x)

In [483]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16496 entries, 0 to 17599
Data columns (total 9 columns):
Unnamed: 0       16496 non-null int64
titre_annonce    16496 non-null object
ville            16496 non-null object
prix             16496 non-null int64
texte_annonce    16496 non-null object
nom_agence       16496 non-null object
type_bien        16496 non-null object
code_postal      16496 non-null object
surface          16427 non-null float64
dtypes: float64(1), int64(2), object(6)
memory usage: 1.9+ MB

# Suppresion double colonne d'index (j'aurais sû le faire à l'import en précisant paramètre spécifique dans pd.csv_read())

In [484]:
# suppression double colonne d'index. Je n'en garde qu'une
df.drop(['Unnamed: 0'], axis=1, inplace=True)

In [485]:
# création colonne prix au m2
df['prix_m2'] = ''

In [284]:
#conversion colonne surface en int pour calcul prix/m2
#df['surface'] = df['surface'].apply(lambda x: int(x) if x != 'nc' else x)

In [486]:
# calcul prix au mètre carré arrondi
for i in range(len(df.index)):
    if df.iloc[i, 7] != 'nc':
        df.iloc[i, 8] = round((df.iloc[i, 2] / df.iloc[i, 7]), 0)
    else:
        df.iloc[i, 8] = None

In [487]:
df.head()

,titre_annonce,ville,prix,texte_annonce,nom_agence,type_bien,code_postal,surface,prix_m2
0,"Appartement 2 pièces, 33 m² Paris 18",Paris,420000,Place Saint Pierre / Butte Montmartrre. 2 piè...,DISTRICT GEORGE V,Appartement,75018,33.0,12727
1,"Appartement 5 pièces, 146 m² Paris 8",Paris,2660000,TRIANGLE d'OR proche de l'avenue Montaigne - ...,DISTRICT GEORGE V,Appartement,75008,146.0,18219
2,"Maison 5 pièces, 65 m² Athis-Mons (91200)",Athis-Mons,334000,PLATEAU JOLIE MEULIERE 120 M² CALME NON MITOY...,Réseau Swixim,Maison,91200,65.0,5138
3,"Appartement 3 pièces, 70 m² carrez Bondoufle ...",Bondoufle,202800,VIEUX CENTRE - Appartement 3 pièces - 70m² Si...,,Appartement,91070,70.0,2897
4,"Maison 3 pièces, 66 m² La Ferté-sous-Jouarre ...",La Ferté-sous-Jouarre,95500,"Maison de hameau avec courette, vue dégagée A...",AGENCE DE LA VALLEE,Maison,77260,66.0,1447

In [290]:
df.prix_m2 = df.prix_m2.apply(lambda x: int(x) if x != None else x)

In [506]:
df[df.surface<=6]

,titre_annonce,ville,prix,texte_annonce,nom_agence,type_bien,code_postal,surface,prix_m2,nbre_pieces
824,"Appartement 1 pièce, 6 m² Paris 10",Paris,70000,"Avec vue sur les toits et la Tour Eiffel, cha...",L'ADRESSE DU CANAL,Appartement,75010,6.0,11667,1
5600,"Appartement 1 pièce, 6 m² Paris 11",Paris,65000,PARIS 11ème -1 MINUTE METRO VOLTAIRE- Au 6 èm...,L'ADRESSE OBERKAMPF,Appartement,75011,6.0,10833,1
8154,"Appartement 1 pièce, 6 m² Paris 14",Paris,89500,"Dpt Paris (75), à vendre PARIS 14EME ARRONDIS...",Capifrance,Appartement,75014,6.0,14917,1
9752,"Appartement 1 pièce, 6 m² Saint-Ouen (93400)",Saint-Ouen,49000,Vente Appartement 1 pièce iad France - Marie-...,iad France,Appartement,93400,6.0,8167,1
12898,"Appartement 1 pièce, 6 m² Paris 8",Paris,88000,Chambre de bonne Triangle d'OR Félix MAHON de...,Dr House Immo,Appartement,75008,6.0,14667,1

In [507]:
# valeur 1 et 2 converti en None
df.surface=df.surface.apply(lambda x: None if x == 1 or x == 2 else x)

In [508]:
df[df.surface<=6]

,titre_annonce,ville,prix,texte_annonce,nom_agence,type_bien,code_postal,surface,prix_m2,nbre_pieces
824,"Appartement 1 pièce, 6 m² Paris 10",Paris,70000,"Avec vue sur les toits et la Tour Eiffel, cha...",L'ADRESSE DU CANAL,Appartement,75010,6.0,11667,1
5600,"Appartement 1 pièce, 6 m² Paris 11",Paris,65000,PARIS 11ème -1 MINUTE METRO VOLTAIRE- Au 6 èm...,L'ADRESSE OBERKAMPF,Appartement,75011,6.0,10833,1
8154,"Appartement 1 pièce, 6 m² Paris 14",Paris,89500,"Dpt Paris (75), à vendre PARIS 14EME ARRONDIS...",Capifrance,Appartement,75014,6.0,14917,1
9752,"Appartement 1 pièce, 6 m² Saint-Ouen (93400)",Saint-Ouen,49000,Vente Appartement 1 pièce iad France - Marie-...,iad France,Appartement,93400,6.0,8167,1
12898,"Appartement 1 pièce, 6 m² Paris 8",Paris,88000,Chambre de bonne Triangle d'OR Félix MAHON de...,Dr House Immo,Appartement,75008,6.0,14667,1

## CRÉATION VARIABLE NOMBRE DE PIÈCES ET EXTRACTION DE L'INFO DANS COLONNE TITRE_ANNONCE

In [499]:
# creation variable pieces pattern opur récupérer nbre de pieces dans colonne titre_annonce
pieces_reg = re.compile(r'\w*\spièce(s)?')
df['nbre_pieces'] = None
df.head()

,titre_annonce,ville,prix,texte_annonce,nom_agence,type_bien,code_postal,surface,prix_m2,nbre_pieces
0,"Appartement 2 pièces, 33 m² Paris 18",Paris,420000,Place Saint Pierre / Butte Montmartrre. 2 piè...,DISTRICT GEORGE V,Appartement,75018,33.0,12727,None
1,"Appartement 5 pièces, 146 m² Paris 8",Paris,2660000,TRIANGLE d'OR proche de l'avenue Montaigne - ...,DISTRICT GEORGE V,Appartement,75008,146.0,18219,None
2,"Maison 5 pièces, 65 m² Athis-Mons (91200)",Athis-Mons,334000,PLATEAU JOLIE MEULIERE 120 M² CALME NON MITOY...,Réseau Swixim,Maison,91200,65.0,5138,None
3,"Appartement 3 pièces, 70 m² carrez Bondoufle ...",Bondoufle,202800,VIEUX CENTRE - Appartement 3 pièces - 70m² Si...,,Appartement,91070,70.0,2897,None
4,"Maison 3 pièces, 66 m² La Ferté-sous-Jouarre ...",La Ferté-sous-Jouarre,95500,"Maison de hameau avec courette, vue dégagée A...",AGENCE DE LA VALLEE,Maison,77260,66.0,1447,None

In [500]:
# extration nombre de pieces de titre annonces vers colonne nbre de pieces
for i in range(len(df.index)):
    try:
        df.iloc[i, 9] = int(re.sub(r'\spièce(s)?', '',pieces_reg.search(df.iloc[i,0]).group()))
    except:
        pass
    else:
        df.iloc[i, 9] = int(re.sub(r'\spièce(s)?', '',pieces_reg.search(df.iloc[i,0]).group()))

In [511]:
df['type_annonce'] = 'Professionnel'
df.head()

,titre_annonce,ville,prix,texte_annonce,nom_agence,type_bien,code_postal,surface,prix_m2,nbre_pieces,type_annonce
0,"Appartement 2 pièces, 33 m² Paris 18",Paris,420000,Place Saint Pierre / Butte Montmartrre. 2 piè...,DISTRICT GEORGE V,Appartement,75018,33.0,12727,2,Professionnel
1,"Appartement 5 pièces, 146 m² Paris 8",Paris,2660000,TRIANGLE d'OR proche de l'avenue Montaigne - ...,DISTRICT GEORGE V,Appartement,75008,146.0,18219,5,Professionnel
2,"Maison 5 pièces, 65 m² Athis-Mons (91200)",Athis-Mons,334000,PLATEAU JOLIE MEULIERE 120 M² CALME NON MITOY...,Réseau Swixim,Maison,91200,65.0,5138,5,Professionnel
3,"Appartement 3 pièces, 70 m² carrez Bondoufle ...",Bondoufle,202800,VIEUX CENTRE - Appartement 3 pièces - 70m² Si...,,Appartement,91070,70.0,2897,3,Professionnel
4,"Maison 3 pièces, 66 m² La Ferté-sous-Jouarre ...",La Ferté-sous-Jouarre,95500,"Maison de hameau avec courette, vue dégagée A...",AGENCE DE LA VALLEE,Maison,77260,66.0,1447,3,Professionnel

In [502]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16496 entries, 0 to 17599
Data columns (total 10 columns):
titre_annonce    16496 non-null object
ville            16496 non-null object
prix             16496 non-null int64
texte_annonce    16496 non-null object
nom_agence       16496 non-null object
type_bien        16496 non-null object
code_postal      16496 non-null object
surface          16411 non-null float64
prix_m2          16427 non-null object
nbre_pieces      16278 non-null object
dtypes: float64(1), int64(1), object(8)
memory usage: 2.0+ MB

In [519]:
df.rename(columns={'nom_agence':'nom_vendeur'}, inplace=True)
df.head()

,titre_annonce,ville,prix,texte_annonce,nom_vendeur,type_bien,code_postal,surface,prix_m2,nbre_pieces,type_annonce
0,"Appartement 2 pièces, 33 m² Paris 18",Paris,420000,Place Saint Pierre / Butte Montmartrre. 2 piè...,DISTRICT GEORGE V,Appartement,75018,33.0,12727,2,Professionnel
1,"Appartement 5 pièces, 146 m² Paris 8",Paris,2660000,TRIANGLE d'OR proche de l'avenue Montaigne - ...,DISTRICT GEORGE V,Appartement,75008,146.0,18219,5,Professionnel
2,"Maison 5 pièces, 65 m² Athis-Mons (91200)",Athis-Mons,334000,PLATEAU JOLIE MEULIERE 120 M² CALME NON MITOY...,Réseau Swixim,Maison,91200,65.0,5138,5,Professionnel
3,"Appartement 3 pièces, 70 m² carrez Bondoufle ...",Bondoufle,202800,VIEUX CENTRE - Appartement 3 pièces - 70m² Si...,,Appartement,91070,70.0,2897,3,Professionnel
4,"Maison 3 pièces, 66 m² La Ferté-sous-Jouarre ...",La Ferté-sous-Jouarre,95500,"Maison de hameau avec courette, vue dégagée A...",AGENCE DE LA VALLEE,Maison,77260,66.0,1447,3,Professionnel

In [524]:
df4=df[['titre_annonce', 'texte_annonce', 'type_bien', 'surface', 'nbre_pieces', 'ville', 'code_postal', 'prix', 'nom_vendeur', 'type_annonce']]

In [525]:
df4.head()

,titre_annonce,texte_annonce,type_bien,surface,nbre_pieces,ville,code_postal,prix,nom_vendeur,type_annonce
0,"Appartement 2 pièces, 33 m² Paris 18",Place Saint Pierre / Butte Montmartrre. 2 piè...,Appartement,33.0,2,Paris,75018,420000,DISTRICT GEORGE V,Professionnel
1,"Appartement 5 pièces, 146 m² Paris 8",TRIANGLE d'OR proche de l'avenue Montaigne - ...,Appartement,146.0,5,Paris,75008,2660000,DISTRICT GEORGE V,Professionnel
2,"Maison 5 pièces, 65 m² Athis-Mons (91200)",PLATEAU JOLIE MEULIERE 120 M² CALME NON MITOY...,Maison,65.0,5,Athis-Mons,91200,334000,Réseau Swixim,Professionnel
3,"Appartement 3 pièces, 70 m² carrez Bondoufle ...",VIEUX CENTRE - Appartement 3 pièces - 70m² Si...,Appartement,70.0,3,Bondoufle,91070,202800,,Professionnel
4,"Maison 3 pièces, 66 m² La Ferté-sous-Jouarre ...","Maison de hameau avec courette, vue dégagée A...",Maison,66.0,3,La Ferté-sous-Jouarre,77260,95500,AGENCE DE LA VALLEE,Professionnel

In [526]:
df4.to_csv('paruvendu_ancien_pro_idf_clean.csv')